body{
    font-family: 'Shadows Into Light', cursive;
    color: white;
}

body div {
    text-align: center;
    
}

.profile-photo{
    
    display: block;
    max-width: 150px;
    margin: 0 auto 30px;
    border-radius: 50%;
    border:5px solid white;
}
